<!DOCTYPE html>
<html>
<head>
  <title>Dog Explorer</title>
</head>
<body>

  <header>
    <h1><a href="/breeds">Dog Explorer</a></h1>
    <hr>
  </header>

  <main>
    <%- body %>
  </main>

</body>
</html>
